[Desktop Entry]
Name=KNOME
Comment=Latte GNOME style indicator for KDE

Encoding=UTF-8
Type=Service
Icon=latte-dock
X-Plasma-API=declarativeappletscript
X-KDE-ServiceTypes=Latte/Indicator

X-Latte-MainScript=ui/main.qml
X-Latte-ConfigUi=config/config.qml
X-Latte-ConfigXml=config/main.xml

X-KDE-PluginInfo-Author=AntonioSalvatore
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=org.kde.kunity.knome
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Latte Indicator
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true

